/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
BACKGROUNDS
*********************/
body#tinymce {
	height:auto !important;
}

.transparent-bg {
	background-color: transparent;
}

.purple-bg,
.amethyst-bg {
	color: $white;
	p,
	.p,
	h1,
	.h1,
	h2,
	.h2
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	h7,
	.h7 {
		color: $white;
	}
}
.purple-bg {
	background-color: $brand-purple;
}

.amethyst-bg {
	background-color: $brand-amethyst;
	color: $white;
}

.orange-bg {
	background-color: $brand-orange;
}

.green-bg {
	background-color: $brand-green;
}

.fuchsia-bg {
	background-color: $brand-fuchsia;
}

.aqua-bg {
	background-color: $brand-aqua;
}

.yellow-bg {
	background-color: $brand-yellow;
}

.white-bg {
	background-color: $white;
}

.color-green {
	color: $brand-green;
}
a.color-green:hover {
	color: $brand-dark-green;
	&:hover,
	&:focus {
		color: $brand-dark-green;
		.green-bg {
			background-color: $brand-dark-green;
		}
	}	
}

.color-amethyst {
	color: $brand-amethyst;
}
a.color-amethyst:hover {
	color: $brand-dark-amethyst;
	&:hover,
	&:focus {
		color: $brand-dark-amethyst;
		.amethyst-bg {
			background-color: $brand-dark-amethyst;
		}
	}	
}

.color-orange {
	color: $brand-orange;
}
a.color-orange:hover {
	&:hover,
	&:focus {
	color: $brand-dark-orange;
	.orange-bg {
		background-color: $brand-dark-orange;
	}
}		
}

.color-aqua {
	color: $brand-aqua;
}
a.color-aqua {
	&:hover,
	&:focus {
		color: $brand-dark-aqua;
		.aqua-bg {
			background-color: $brand-dark-aqua;
		}
	}	
}

.color-fuchsia {
	color: $brand-fuchsia;
}
a.color-fuchsia:hover {
	&:hover,
	&:focus {
	color: $brand-dark-fuchsia;
	.aqua-bg {
		background-color: $brand-dark-fuchsia;
	}
}	
}

.color-yellow {
	color: $brand-yellow;
}

.color-purple {
	color: $brand-purple;
	p {
		color: $brand-purple;
	}
}

.color-white {
	color: $white;	
	i,
	p
	&.p
	&a {
		color: $white;
	}
}

a.p.color-white {
	color: $white;	
}

.outline-amethyst {
	border-color: $brand-amethyst;
}

.outlined {
	border-width: 3px;
	border-style: solid;
	&.border-green {
		border-color: $brand-green;
		&:hover {
			border-color: $brand-dark-green;
		}
	}
	&.border-orange {
		border-color: $brand-orange;
		&:hover {
			border-color: $brand-dark-orange;
		}
	}
	&.border-aqua {
		border-color: $brand-aqua;
		&:hover {
			border-color: $brand-dark-aqua;
		}
	}
	&.border-amethyst {
		border-color: $brand-amethyst;
		&:hover {
			border-color: $brand-dark-amethyst;
		}
	}
	&.border-purple {
		border-color: $brand-purple;
	}
}

.br-20 {
	border-radius: 20px;	
}

.br-30 {
	border-radius: 30px;	
}


/*********************
RE-USED ELEMENTS
*********************/
.module {
	margin-top: 60px;
	margin-bottom: 60px;
	&:first-child {
		margin-top: 30px;
	}	
	@include breakpoint(medium) {
		margin-top: 150px;
		margin-bottom: 150px;	
	}
}

button,
.button {
	cursor: pointer;
}

article.page {
	>div:first-of-type {
		margin-top: 75px;
	}
}

.bordered {
	border-width: 3px;
	border-style: solid;
	
	&.border-purple {
		border-color: $brand-purple;
	}
	
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
	display: block;
	width: 10px;
	height: 6px;
	border: 0;
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 1rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.601' height='8.416' viewBox='0 0 14.601 8.416'%3E%3Cpath id='Path_1038' data-name='Path 1038' d='M5.62,11.773,0,5.9,5.62,0' transform='translate(1.414 7.033) rotate(-90)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E");
	background-size: contain;
}

ul.accordion li.accordion-item a.accordion-title{
	&:before {
		transition: .3s ease;
	}
	&:not([aria-expanded="true"]):before {
		transform: rotateX(-180deg);
	}
}

a.download-map-btn.button.green-bg {
	display: flex;
	width: 100%;
	background-color: $brand-green;
	color: $white;
	min-height: 44px;
	font-size: rem-calc(14);
	line-height:  rem-calc(16);
	border-radius: 85px;
	line-height: 1.5rem;
	@include breakpoint(medium) {
		font-size: rem-calc(23);
		line-height:  rem-calc(24);
		min-height: 75px;
	}
}

.tabs-dropdown-wrap {
	@include breakpoint(small down) {
		margin-bottom: 1.5rem;
	}
	.button,
	.button.style-xlarge {
		border-radius: 85px;
		min-height: 75px;
		display: flex;
		font-size: rem-calc(23);
		line-height:  rem-calc(24);
		@include breakpoint(small down) {
			min-height: 42px;
			font-size: rem-calc(14);
			line-height:  rem-calc(16);
			margin-bottom: 0;
			color: $white;
			background-color: $brand-amethyst;
		}
	}
	button.trigger-btn {
		width: 100%;
		position: relative;
		color: $white;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 14px;
		width: 20px;
		height: 9px;
		margin-top: -0.2rem;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.833' height='12.108' viewBox='0 0 21.833 12.108'%3E%3Cpath id='Path_141' data-name='Path 141' d='M3771.071-1035.3l9.8,8.968,10.016-8.968' transform='translate(-3770.058 1036.415)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
	
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transform: translateY(3px);
	}	
	
		@include breakpoint(small down) {
			transition: border-radius 0s linear;
			&:hover,
			&:focus {
				border-color: $brand-amethyst !important;
				background-color: $brand-amethyst !important;
			}
			&.open {
				border-radius: 22px 22px 0 0;
			}
		}
	}
	.inner {
		position: relative;
	}
	.tabs {
		li {
			a.button {
				position: relative;
				border: 3px solid $brand-amethyst;
				padding: 0.16em 0.8264em 0.352em;
				&[aria-selected=true] {
					color: $white;
					background-color: $brand-amethyst;
				}
			}
		}
	}
	@include breakpoint(small down) {
		.tabs {
			border-radius: 0 0 22px 22px;
			overflow: hidden;
			background-color: $brand-amethyst;
			display: none;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			li {
				position: relative;
				&:before {
					@include white-dashed-border;
					position: relative;
					height: 1px;
					width: 100%;
					background-size: 1px 100%, 100% 0px, 1px 100%, 100% 1px;
				}
				&.is-active {
					display: none;
				}
			}
			.button.style-xlarge.amethyst-bg {
				color: $white;
				border: 0;
				border-radius: 0;
			&:hover,
			&:active {
				color: $brand-amethyst;
			}

			}
		}
	}
}

.tabs,
.tabs-content {
	border: 0;
}

.swiper-pagination {
	@include breakpoint(medium) {
		text-align: right;
	}
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background-color: $white;
		border: 1px solid $brand-amethyst;
		gap: 0;
		margin: 5.5px;
		opacity: 1;
		
		@include breakpoint(medium) {
			border-width: 2px;
			width: 16px;
			height: 16px;
		}
		
	&.swiper-pagination-bullet-active {
		background-color: $brand-amethyst;
	}
		
	}
}

.circle {
	border-radius: 100%;
	.icon-wrap {
		display: inline-block;
		border-radius: 100%;
		margin-bottom: 1.1rem;
		padding: 2.3125rem;
		
		@include breakpoint(tablet) {
			margin-bottom: 2.38rem;
			padding: 4.375rem;
		}
		
		.grid-x {
			width: 48px;
			height: 48px;
			
			@include breakpoint(tablet) {
				width: 115px;
				height: 115px;
			}
			
		}
	}
}

.img-wrap {
	&.circle-img-wrap {
		display: inline-block;
		overflow: hidden;
		border-radius: 100%;
	}
}

.slider-wrap {
	position: relative;
}

.swiper-button-prev, 
.swiper-rtl .swiper-button-next {
	left: 0px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0;
}

.swiper-btn {
	cursor: pointer;
	&:after {
		font-size: 0;
	}
}

.close-button {
	position: relative;
}

.circle-img-wrap {
	border-radius: 100%;
	overflow: hidden;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta  
.byline {
	color: $black;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px; 
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table; 
}
.gallery::after {
	clear: both; 
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem; 
}
.gallery dl:last-child:not(:first-child) {
  float: right; 
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
}
	
/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Hide Gravity Forms validation fields when GFCSS is disabled
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}
