.alert-bar {
	padding: .9695rem 0;
	p {
		font-size: rem-calc(14);
		line-height: 1.117;
		font-weight: bold;
		margin-bottom: 0;
		@include breakpoint(medium) {
			font-size: rem-calc(17);
		}
	}
	a {
		text-decoration: underline;
	}
}

header.site-header {
	position: relative;
	z-index: 555;
	transition: transform .5s ease;
	
	.top-bar-wrap {
		background-color: $topbar-background;
	}
	
	#top-bar-menu {
		align-items: stretch;
		padding-top: 0.665rem;
		padding-bottom: 0.665rem;
		@include breakpoint(medium) {
			padding-top: 1.815rem;
			padding-bottom: 1.815rem;
		}

		.top-bar-left {
			max-width: 160px;
			
			@include breakpoint(medium) {
				max-width: 100%;
			}
			
		}
		
		li.logo {
			width: 135px;
			@include breakpoint(medium) {
				width: 180px;
			}
			@include breakpoint(tablet) {
				width: 200px;
			}
			@include breakpoint(large) {
				width: 155px;
				width: 15.137vw;
				transform: translateY(8.5px);
			}
			@include breakpoint(xxlarge) {
				width: auto;
				min-width: 272px;
			}
			&.desktop {
				a {
					padding: 0;
					display: inline-block;
					position: relative;
				    top: -20px;
				}
			}
			
		}
			
		#main-nav {
			align-items: baseline;
			justify-content: flex-end;
			>li {
				margin: 0rem 0.5rem 1rem 1.8rem;
				@include breakpoint(large) {
					margin: 0rem 0.5rem 1rem 1rem;
				}
				
				&:last-child {
					margin-right: 0;
				}
				
				> a {
					position: relative;
					color: $brand-purple;
					font-size: rem-calc(22);
					text-transform: lowercase;
					font-weight: bold;
					line-height: 1.125;
					
					@include breakpoint(large) {
						font-size: rem-calc(16);
						font-size: 1.55vw;
					}
					
					@include breakpoint(xxlarge) {
						font-size: rem-calc(24);
					}
					
					span {
						display: inline-block;
						position: relative;
						padding: .87rem 0;

					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 3px;
						background-color: transparent;
						border-radius: 3px;
					}
					}
					
				&:hover {
					span {
						&:after {
							background-color: $brand-purple;
						}
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: 100%;
							width: calc(100% + 2.2rem);
							left: -1.1rem;
							right: -1.1rem;
							height: 4rem;
							background-color: transparent;
						}
					}
				}
					
				}
				
			&.current-menu-item {
				a span:after {
					background-color: $brand-purple;
				}
			}
				
			&.menu-item-has-children {
				margin-top: -.4rem;
				margin-bottom: 0;
				
				ul {
					background-color: $brand-amethyst;
					a {
						color: $white;
						font-weight: bold;
							font-size: rem-calc(16);
							line-height: rem-calc(18);
						&:hover {
							text-decoration: underline;
						}
					}
				}
				
				> ul.first-sub {
					margin-top: 1.1rem;
					margin-left: -1.1rem;
					flex-direction: row;
					width: max-content;
					padding: 2.1rem 2.55rem;
					border-radius: 30px;
					box-shadow: 4px 4px 30px 0px rgba(0,0,0,0.16);
					
					@include breakpoint(xlarge down) {
						transform: translateX(-20%);
						left: 50%;
						right: 0;
					}

					> li {
						flex: 0 0 auto;
						width: auto;
						
					&:not(:last-child) {
						padding-right: 2.5rem;
					}
						
						> ul {
							position: relative;
							display: block;
							right: 0;
							left: 0;
							padding-left: 1.05rem;
							margin-top: 0.85rem;
							
						&:before {
							@include white-dashed-border;
							top: 2px;
							height: 100%;
							left: 4px;
							width: 1px;
							background-size: 1px 100%,0% 0px,0px 0%,0% 0px;
						}
							
							> li {
							
							&:not(:last-child) {
								margin-bottom: 0.6rem;
							}
							
								> a {
									font-weight: 400;
									font-size: rem-calc(14);
								&:hover {
									text-decoration: underline;
								}
								
								}
							}
						}
					}
		
				}
				ul:not(.first-sub).js-dropdown-active  {
					
					li {
						a {
							font-weight: 400;
							font-size: rem-calc(14);
							&:hover {
								text-decoration: underline;
							}
						}
					}
					>li > ul {
						position: static;
						a {
							padding-left: 1rem;
						}
					}
				}
				
			&.is-active {
				> ul.first-sub {
					display: flex;
				}
			}
	
			}
		
			}
		}
		
		
		.orange-nav {
			overflow: hidden;
			justify-content: end;
			
			@include breakpoint(xlarge) {
				margin-left: 2rem;
			}
			
			li a {
				font-size: rem-calc(20);
				font-weight: bold;
				font-weight: 800;
				line-height: 1.13;
				border: 3px solid $brand-orange;
				text-transform: lowercase;
				padding: .52rem 1.5rem .92rem;
				@include global-transition;
				
				@include breakpoint(large) {
					font-size: rem-calc(16);
					font-size: 1.55vw;
				}
				
				@include breakpoint(xxlarge) {
					font-size: rem-calc(23);
				}
			}
			> li {
				&:nth-child(odd) {
					a {
						color: $brand-orange;
						border-radius: $global-radius 0 0 $global-radius;
						border-width: 3px 1.5px 3px 3px;
						&:hover {
							background-color: $brand-orange;
							color: $white;
						}
					}
				}
				&:nth-child(even) {
					a {
						background-color: $brand-orange;
						color: $white;
						border-radius: 0 $global-radius $global-radius 0;
						border-width: 3px 3px 3px 1.5px;
						&:hover {
							background-color: $white;
							color: $brand-orange;
						}
					}
				}
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 86px;
			    height: 36px;
			    position: relative;
				color: $brand-purple;
				font-size: rem-calc(18);
				line-height: rem-calc(21);
				padding-right: 5.9rem;
				
				span.toggle-label {
					transform: translateY(4px);
					display: inline-block;
				}
			    
			    span:not(.toggle-label) {
				    position: absolute;
				    right: 0;
				    width: 36px;
				    height: 3px;
				    background-color: $brand-purple;
				    transition: all .2s ease;
					
				    &:nth-child(2) {
					    top: 9px;
				    }

				    &:nth-child(3) {
					    top: 16px;
				    }
				    
				    &:nth-child(4) {
					    bottom: 10px;
				    }

			    }
				
			&.clicked {
				span {
					&:nth-child(2) {
						top: 4px;
						transform: translate(0px, 13px) rotate(-45deg);
					}
			
					&:nth-child(3) {
						top: 16px;
						right: 0;
						width: 0;
						transform: translateX(-18px);
					}
					
					&:nth-child(4) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
	.mobile-orange-nav {
		.orange-nav {
			width: 100%;
			li {
				width: 50%;
				text-align: center;
				a {
					font-weight: bold;
					font-weight: 800;
					font-size: rem-calc(15);
					line-height: 1.16;
					border: 2px solid $brand-orange;
					padding: 0.274rem 0.344rem 0.414rem;
					@include breakpoint(medium) {
						font-size: rem-calc(17);
					}
				}
				
			&:nth-child(odd) {
				a {
					color: $brand-orange;
					border-width: 2px 1px 2px 2px;
					&:hover {
						background-color: $brand-orange;
						color: $white;
					}
				}
			}
			&:nth-child(even) {
				a {
					background-color: $brand-orange;
					color: $white;
					border-width: 2px 2px 2px 1px;
					&:hover {
						background-color: $white;
						color: $brand-orange;
					}
				}
			}
				
			}
		}
	}
	
}

#off-canvas {
	position: absolute;
	z-index: 9;
	top: 100%;
	left: 0;
	right: 0;
	// bottom: 0;
	min-height: calc(100vh + 100px);
	background-color: $brand-amethyst;
	overflow: auto;
	
	@include breakpoint(xlarge) {
		display: none !important;
	}
	
	.inner {
		width: 100%;
		margin: auto;
		height: calc(100vh + 100px);
		overflow: auto;
	}
	
	ul {

		li {
			a {
				color: $white;
				line-height: 1.125;
				font-weight: 400;	
				font-size: rem-calc(14);
			}
			
		}

	}
	
	ul#offcanvas-nav {
		max-width: 306px;
		margin: auto;
		padding-top: 1rem;
		padding-bottom: 18rem;
		li.is-accordion-submenu-parent > a {
			padding-right: 3rem;
		}
		> li {
			position: relative;
		&:not(:first-child):before {
			@include white-dashed-border;
			height: 1px;
			width: 100%;
			background-size: 1px 100%, 100% 0px, 1px 100%, 100% 1px;
		}
		
		.submenu-toggle {
			height: 62px;
		}
		
		ul.submenu > li:not(:first-child):not(:last-child) {
			.submenu-toggle {
				height: 37px;
			}
		}
		
		>a {
			font-size: rem-calc(16);
			font-weight: bold;
			padding: 1.3rem 0 1.5rem;
		}
		
		li.menu-item-has-children {
			> a {
				font-size: rem-calc(16);
				font-weight: bold;
			}
		}

		>ul {
			position: relative;
		&:before{
			@include white-dashed-border;
			height: 1px;
			width: 100%;
			background-size: 1px 100%, 100% 0px, 1px 100%, 100% 1px;
		}
			
			a {
				padding: 1.1rem 0;
			}
		
			>li {
				padding-left: 1rem;
				>ul>li {
					padding-left: 1rem;
					>ul {	
						padding-left: 1rem;
					}
				}
			}
		}
		
		ul.submenu {
			a {
				padding-top: .6rem;
				padding-bottom: .6rem;
			}
			> li:first-child > a {
				padding-top: 1.2rem;
				&:after {
					margin-top: 3px;
				}
			}
			> li:last-child > a {
				padding-bottom: 1.2rem;
				&:after {
					margin-top: -7px;
				}
			}
		}
		
		}
	
	}
	

	
}