h1,
.h1 {
	line-height: .84;
	@include breakpoint (medium) {
		line-height: 1.27;
	}
}

h1,
.h1,
h2,
.h2
h3,
.h3 {
	text-transform: uppercase;
}

h4,
.h4,
h5,
.h5,
h6,
.h6,
h7,
.h7 {
	font-family: $font-body;
}

h6,
.h6 {
	font-weight: 400;
}

h7,
.h7 {
	text-decoration: underline;
}

// h1,
// .h1,
// h2,
// .h2
// h3,
// .h3,
// h4,
// .h4,
// h5,
// .h5,
// h6,
// .h6 {
// 	color: $brand-purple;
// }

h2,
.h2 {
	line-height: 1;
	@include breakpoint (medium) {
		line-height: 1.15;
	}
}

h3,
.h3,
h4,
.h4  {
	line-height: 1;
	@include breakpoint (medium) {
		line-height: 1.2;
	}
}

h5,
.h5 {
	line-height: 1.333;
}


h5,
.h5,
h6,
.h6 {
	font-family: $font-body;
}

h5,
.h5 {
	text-transform: none;
	line-height: 1;
	margin-bottom: 0.65em;
	@include breakpoint (medium) {
		line-height: 1.4;
	}
}

h7,
.h7 {
	font-weight: bold;
	color: $brand-purple;
}

h8,
.h8 {
	font-family: $font-body;
}

h11,
.h11 {
	font-size: rem-calc(17);
	line-height: rem-calc(19);
}

ul,
ol,
p,
.p,
a.p {
	color: $text-black;
	font-family: $font-body;
	font-size: rem-calc(14);
	line-height: 1.5;
	@include breakpoint (medium) {
		font-size: rem-calc(18.4);
	}
}

.text-wrap {
	h1,
	.h1,
	h2,
	.h2
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	h7,
	.h7 {
		margin-bottom: 0;
	}
}

small {
	font-size: rem-calc(12);
	@include breakpoint (medium) {
		font-size: rem-calc(15);
	}
}

figcaption {
	font-size: rem-calc(14);
	line-height: rem-calc(16);
	margin-top: 0.35rem;
}

ul:not(.menu):not(.accordion):not(.footer-links):not(.tabs):not(.grid-x):not(.list-links):not(ul[class^="tribe-events-"]) {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	li {
		position: relative;
		margin-bottom: .45rem;
		padding-left: 1.6rem;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 9px;
		height: 9px;
		flex: 0 0 9px;
		background-color: $brand-amethyst;
		border-radius: 100%;
		margin: .3rem 1rem 0 0;
		
		@include breakpoint (medium) {
			width: 10px;
			height: 10px;
			flex: 0 0 10px;
			margin: .75rem 1rem 0 0;
		}
		
	}
		@include breakpoint (medium) {
			font-size: rem-calc(19);
			margin-bottom: 0.85rem;
		}
		a {
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

.large-text {
	color: $brand-purple;
	font-size: rem-calc(16);
	line-height: rem-calc(19);
	@include breakpoint (medium) {
		font-size: rem-calc(29);
		line-height: rem-calc(38);
	}
}

.font-heading {
	font-family: $font-heading;
}

.font-body {
	font-family: $font-body;
}