footer.footer {
	
	a:not(.button) {
		color: $white;
		text-decoration: underline;
		font-weight: bold;
	}
	
	.left {
		.visit-heading {
			h2 {
				text-transform: uppercase;
				font-size: rem-calc(30);
				line-height: 1.2;
				margin: 0;
				@include breakpoint(medium) {
					font-size: rem-calc(44);
					line-height: 1.25;
				}
			}
		}
		.visit-hours {
			p.heading {
				font-weight: bold;
				font-size: rem-calc(22);
				line-height: 1.27;
				@include breakpoint(medium) {
					font-size: rem-calc(38);
					line-height: 1.289;
				}
			}
		}
	}
}