.module.cta-image {
	h2 {
		margin-bottom: 0.6rem;
		@include breakpoint(medium) {
			margin-bottom: 2.2rem;
		}
	}
	
	.right {
		text-align: center;
		@include breakpoint(small down) {
			padding-bottom: 1.5rem;
		}
	}
}