.cta-color {
	.inner {
		padding-top: 2.1rem;
		padding-bottom: 2.2rem;
	}
	h2 {
		text-transform: none;
		margin-bottom: 0.65rem;
	}
	.buttons {
		justify-content: center;
		padding-top: 1.9rem;
	}
}