.module.cta-bubble {
	.button {
		margin: 0;
	}
	.inner {
		border-radius: 85px;
		>.grid-x {
			min-height: 128px;
			padding: 1rem 4.6rem;
			@include breakpoint(medium) {
				padding: 1rem 3.5rem;
			}
		}
	}
}