.module.cta-bubble {
	@include breakpoint(small down) {
		text-align: center
	}
	.button {
		margin: 0;
	}
	h2 {
		margin-bottom: 0.4em;
	}
	.inner {
		border-radius: 85px;
		>.grid-x {
			min-height: 128px;
			padding: 1rem 4.6rem;
			@include breakpoint(medium) {
				padding: 1rem 4.5rem;
			}
		}
	}
}