 html,
  body {
	position: relative;
	height: 100%;
  }
.gallery-slider {
	overflow: hidden;
	
	.swiper {
		width: 100%;
		height: 100%;
	}
	
	.slider-wrap {
		margin-bottom: 62px;

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 50vw;
			left: -50vw;
			background-color: $white;
		}
		
		.progress {
			margin-top: 3.25rem;
			position: relative;
			width: 100%;
			max-width: 100%;
			height: 2px;
			background-color: #C5B7D8;
			
			@include breakpoint(medium) {
				.progress {
					width: 65%;
				}
			}
			@include breakpoint(tablet) {
				max-width: 736px;
			}
			
			div {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 0;
				background-color: $brand-purple;
				transition: width 0s linear;
			}
			
		&.play-progress {
			div {
				width: 100%;
				transition: width 5s linear;
			}
		}
			
		}
		
	}
	
	.swiper-container,
	.img-wrap {
		height: 381px;
	}
	
	.swiper-slide {
		position: relative;
		width: auto;
		max-width: 100%;
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		
		@include breakpoint(medium) {
			.progress {
				width: 65%;
			}
		}
		
		@include breakpoint(tablet) {
			max-width: 736px;
		}
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
		}
		
		.text-wrap {
			background-color: $white;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 80%;
			max-width: 400px;
			font-size: rem-calc(15);
			line-height: rem-calc(22);
			padding: 18px 11px;
		}
		
	  }
	
	
	
}