.module.hours {
	position: relative;

&:before {
	content: '';
	display: block;
	width: 147px;
	height: 147px;
	border-radius: 100%;
	background-color: $brand-green;
	position: absolute;
	z-index: -1;
	transform: translate(-57%, -50%);
	
	@include breakpoint(tablet) {
		width: 544px;
		height: 544px;
	}
	
}
	
	h2 {
		margin: 0;
		transform: translateY(6px);
		@include breakpoint(medium) {
			transform: translateY(15px);
			font-size: rem-calc(84);
		}
	}
	.heading-tabs-wrap {		
		box-shadow: 0px 3px 27px 0px rgba(0,0,0,0.16);	

		@include breakpoint(xlarge) {
			border-radius: 65px;
		}
		
		.left {
			padding-top: 1.15rem;
		}

	}
	ul.tabs {
		padding: 0.8rem 0 1rem;
		justify-content: center;
		
		@include breakpoint(medium) {
			padding: 1.8rem 0 2rem;
		}
		
		@include breakpoint(xlarge) {
			padding: 0;
			min-height: 129px;
			border-radius: 65px;
		}
				
		li.tabs-title {
			margin: 0 0.75rem;
			
			a {
				color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: .5rem;
				font-size: rem-calc(14);
				line-height: rem-calc(16);
				font-weight: bold;
				text-transform: uppercase;
				width: 43px;
				height: 43px;
				border-radius: 100%;
			
				@include breakpoint(medium) {
					font-size: rem-calc(16);
					line-height: 1.18;
					width: 60px;
					height: 60px;
				}

				@include breakpoint(tablet) {
					font-size: rem-calc(22);
					line-height: rem-calc(26);
					width: 86px;
					height: 86px;
				}
				
			&:hover {
				color: $brand-amethyst;
				box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
			}
			
				span {
					transform: translateY(-2px);
				}
				
			}
		
		&.is-active {
			a {
				background-color: $white;
				color: $brand-amethyst;
				box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
			}
		}
		
		}
	}
	
	.tabs-content {
		padding-top: 0.45rem;
		@include breakpoint(medium) {
			padding-top: 2.3rem;
		}
		p {
			&:nth-child(1) {
				margin-bottom: 0.4em;
			}
			b {
				font-size: rem-calc(19);
				line-height: rem-calc(22);
			}
		}
		.btn-wrap {
			padding-top: 1rem;
		}
	}
	
}