.list-circle-links {
	
	.swiper-container {
		overflow: hidden;
		//max-width: 500px;
		margin: auto;
	}
	
	.inner {
		display: block;
		position: relative;
	}
	
	.cell.swiper-slide {
		margin-bottom: 2rem;

		.inner {
			display: block;
			padding: 0 1rem;
		}
		
	}
	
	.icon-wrap {
		
		img {
			margin: auto;
		}
		
		h3.h7 {
			margin-bottom: 1rem;
		}
		
	}
	
	.swiper-btn {
		top: 25%;
	}
	
&:not(.list-circle-links-dates) {
	.cell:nth-child(even) {
		margin-top: 70px;
	}
}

&.list-circle-links-dates {
	.swiper-btn {
		top: 50%;
	}
	.swiper-slide {
		.date {
		h3 {
			line-height: 0.75;
			margin-top: -0.07em;
			}
		}
		.circle {
			width: 122px;
			height: 122px;
			margin: 0 auto 3rem;
			@include breakpoint(tablet) {
				width: 248px;
				height: 248px;
			}
			@include breakpoint(medium down) {
				.date {
					h5 {
						font-size: rem-calc(17);
					}
					h3 {
						font-size: rem-calc(30);
					}
				}
			}
		}
	}
}
	
}