.module.list-link-list {
	@include breakpoint(medium down) {
		text-align: center;
	}
	@include breakpoint(small down) {
		h2.h3 {
			font-size: rem-calc(38);
		}
	}
	.inner {
		padding: 2.45rem 1.6rem 1.4rem;
		@include breakpoint(medium) {
			padding: 3.45rem 5.6rem 4.4rem;
		}
	}
	ul {
		list-style: none;
		margin-bottom: 0;
		@include breakpoint(medium down) {
			margin-left: 0;
		}
		li {
			&:not(:last-child) {
				padding-bottom: .8rem;
				@include breakpoint(medium) {
					padding-bottom: 1.1rem;
				}
			}
			.icon-wrap {
				max-width: 60px;
				@include breakpoint(medium) {
					max-width: 96px;
					padding-right: 1.6rem;
				}
			}
			a {
				margin-bottom: 0;
				text-decoration: none;
			}
		}
	}
	.left {
		.btn-wrap {
			padding-top: 1.7rem;
			@include breakpoint(medium) {
				padding-top: 3.55rem;
			}
		}
		@include breakpoint(medium down) {
			padding-bottom: 2rem;
		}
	}
	.right {
		.btn.hide-for-tablet {
			padding-top: 1rem;
		}
	}
}