.list-circle-links {
	
	.cell {
		margin-bottom: 2rem;
	}
	
	.icon-wrap {
		display: inline-block;
		padding: 4.375rem;
		border-radius: 100%;
		margin-bottom: 2.38rem;
		
		.grid-x {
			width: 95px;
			height: 95px;
			
			@include breakpoint(xlarge) {
				width: 115px;
				height: 115px;
			}
			
		}
		
		img {
			margin: auto;
		}
		
		h3.h7 {
			margin-bottom: 1rem;
		}
		
	}
	
}