.module.list-link-list {
	.inner {
		padding: 2.45rem 1.6rem 1.4rem;
		@include breakpoint(medium) {
			padding: 3.45rem 5.6rem 4.4rem;
		}
	}
	ul {
		list-style: none;
		li {
			&:not(:last-child) {
				padding-bottom: 1.1rem;
				@include breakpoint(medium) {
					padding-bottom: 2.1rem;
				}
			}
			.icon-wrap {
				max-width: 60px;
				@include breakpoint(medium) {
					max-width: 96px;
					padding-right: 1.6rem;
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
	.left {
		.btn-wrap {
			padding-top: 1.7rem;
			@include breakpoint(medium) {
				padding-top: 3.55rem;
			}
		}
		@include breakpoint(medium down) {
			padding-bottom: 2rem;
		}
	}
	.right {

	}
}