.list-gallery-slider-list {
	
	.left {
		margin-bottom: 1.95rem;
	}
	.right {
		@include breakpoint(medium down) {
			max-width: 464px;
			margin: auto;
		}
	}
	.slider-wrap {
		padding: 0 64px;
		@include breakpoint(medium down) {
			max-width: 561px;
			margin: auto;
		}
		
	}
	
	.swiper-container {
		overflow: hidden;
	}
	
	.swiper-btn {
		width: 118px;
		height: auto;
		z-index: 0;
		
		svg {
			@include breakpoint(medium down) {
				height: 44px;
				width: auto;
			}
		}
		
		&.swiper-button-prev {
			top: 3.5rem;
			@include breakpoint(medium) {
				top: 5rem;
			}
		}
		
		&.swiper-button-next {
			top: 60%;
			@include breakpoint(medium) {
				top: 68%;
			}
		}
		
	}
	
	.swiper-pagination {
		position: relative;
		bottom: 0;
		padding-top: 1.6rem;
	}
	
}