.module.open-play-areas {
	.preview-tc-wrap {
		position: relative;
		
		.previews {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			
			.preview-card {
				display: none;
				background-color: $white;
				.inner {
					position: relative;
					&:after {
						@include purple-dashed-border;
						position: absolute;
						bottom: 0;
						height: 1px;
						width: 100%;
						background-size: 1px 100%, 100% 0px, 1px 100%, 100% 1px;
					}
					.btn-wrap {
						.button {
							width: 100%;
						}
					}
				}
			}
			
		}
		
		.tabs-panel {
			padding: 0;
			.opa-card {
				cursor: pointer;
				.inner {
					position: relative;
					&:after {
						@include purple-dashed-border;
						position: absolute;
						bottom: 0;
						height: 1px;
						width: 100%;
						background-size: 1px 100%, 100% 0px, 1px 100%, 100% 1px;
					}
				}
			}
		}
		
	}
}