.text-circle-image-and-text {
	.left {
		@include breakpoint(medium down) {
			text-align: center;
		}
	}
	.right {
		@include breakpoint(medium down) {
			margin-bottom: 1.5rem;
		}
	}
	.img-wrap {
		max-width: 335px;
		@include breakpoint(medium down) {
			max-width: 200px;
			margin: 0 auto 1.85rem;
		}
	}
	.right-icon-rows {
		padding-top: 2.35rem;
		
		.icon-wrap {
			max-width: 85px;
			max-height: 85px;
			img {
				max-height: 100%;
			}
			@include breakpoint(medium down) {
				max-width: 60px;
				padding-right: 0;
			}
		}
		
		h3.p {
			margin: 0;
		}
	}
	.buttons {
		padding-top: 1.8rem;
		.style-xlarge {
			margin-top: 0.5rem;
		}
	}
	.third-col {
		.inner {
			padding: 1.65rem 1.6rem 1.65rem;	
			border-color: $brand-purple;
		}
		.heading-wrap {
			@include breakpoint(medium down) {
				text-align: center;
			}
		}
	}
}