.text-title-text {
	
	@include breakpoint(medium) {
		h2.h3 {
			margin: -0.8rem 0 0;
			line-height: 1.0357;
		}
	}
	
	.left {
		@include breakpoint(small down) {
			padding-bottom: 1.5rem;
		}
	}
	
	.right {
		ul {
			li {
				margin-top: 1.5rem;
				margin-bottom: 2.55rem;
			}
		}
		.btn-wrap {
			padding-top: 3.82rem;
		}
	}
	
	.icon-rows {
		>.grid-x:not(:last-child) {
			padding-bottom: 2.2rem;
			@include breakpoint(medium) {
				padding-bottom: 4.2rem;
			}
		}
		p {
			margin-bottom: 0.6rem;
		}
	}
	
	.dashed-left.purple-dl {
		position: relative;
		&:before {
			@include purple-dashed-border;
			transform: rotate(180deg);
			top: 2px;
			height: calc(100% + 8px);
			left: 0;
			width: 1px;
			background-size: 1px 100%, 0% 0px, 0px 0%, 0% 0px;
		}
		p {
			padding-left: 1.5rem;
		}
	}
	
}